#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00A087;
  color: #E8FDFF;
  padding: 0 2em;
  top: 0;
  z-index: 1;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  line-height: 80px;
  width: 80px;
}

#nav-bar .header {
  float: left;
  font-size: 2em;
  padding-left: 10px;
  line-height: 80px;
}

#nav-bar .button {
  background-color: #F7FFF4;
  border-radius: 5px;
  float: right;
  padding: 20px;
  margin: 10px;
}

#nav-bar .button > i {
  color: #00A087;
}

#nav-bar .button:hover {
  background-color: white;
  border: 1px solid;
  border-color: #498fff;
}